:root {
    --backgroundColor: #578FCA;

}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;

}


.header {
    /* background-color: rgb(255, 67, 255); */
    width: fit-content;
    margin-left: auto;
    margin-top: 5px;
    height: fit-content;



}



.header>ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
}

ul>li:hover {
    cursor: pointer;
}

ul>li {
    list-style-type: none;
}

.sidebar>ul>li:hover {
    background-color: gray;
    cursor: pointer;
}

.sidebar {
    height: 100%;
    width: fit-content;
    /* background-color: aqua; */
    margin-top: 40px;
}

.sidebar>ul>li {
    width: 105px;
    padding: 24px;

}

.sidebar>ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.container {
    display: grid;
    /* background-color: greenyellow; */
    height: 100%;
    grid-template-columns: 155px 1fr;
}



.dashboard {
    display: grid;
    gap: 5px;
    grid-template-columns: 4fr 1fr;
    /* background-color: red; */
    height: 100%;

}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: blue; */
    gap: 10px;
}


.card {

    border: solid black 2px;
}


.card:hover {
    background-color: gray;
    cursor: pointer;
}

.case-acceptance {}

.production {
    grid-column: 1/-1;
}

.notifications {
    border: solid black 2px;


}

.footer {}