:root {
    --backgroundColor: #e1edebd8;
    --sidebarColor: rgb(166, 0, 255);
    --selectBarcolor: rgb(186, 59, 255);
}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;

}

.container {
    display: grid;
    /* background-color: greenyellow; */
    height: 100%;
    grid-template-rows: 1fr 150px;
    grid-template-columns: 155px 1fr;

    background-color: var(--backgroundColor);
}

.home {
    background-color: rgb(123, 0, 190);
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: white;


}

.search {
    margin-left: 100px;
}



.user-setting>ul {
    display: flex;
    gap: 45px;
    margin-right: 20px;
}



.search>input {
    width: 400px;
    height: 2rem;
    border-radius: 15px;
    background-color: var(--backgroundColor);

}


ul>li:hover {
    cursor: pointer;
}

ul>li {
    list-style-type: none;
}

.sidebar>ul>li:hover {
    background-color: var(--selectBarcolor);
    cursor: pointer;
}

.window {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    grid-row: 1/-1;
    gap: 50px;

}

.sidebar {
    height: 100%;
    width: fit-content;
    background-color: var(--sidebarColor);
    grid-row: 1/-1;
    color: white;
    font-size: large;
    font-weight: 450;
    font-family: Arial, Helvetica, sans-serif;



}

.sidebar>h2 {
    margin: 10px;
}

img:hover {
    cursor: pointer;

}

.sidebar>ul>li {
    text-align: center;
    width: 105px;
    padding: 24px;

}

.sidebar>ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dashboard {
    display: grid;
    gap: 25px;
    grid-template-columns: 4fr 1fr;
    /* background-color: red; */
    height: 100%;
    margin-left: 25px;


}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: blue; */
    gap: 25px;

}


.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: whitesmoke;

    border-radius: 20px;
    box-shadow: 12px 12px 12px rgb(222, 224, 224);
}


.card:hover {
    box-shadow: 12px 12px 12px gray;
    cursor: pointer;
}


.production {
    grid-column: 1/-1;
}

.notification {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.alert-container {
    background-color: whitesmoke;
    border-radius: 15px;
    display: grid;
    gap: 20px;
}

.alert>p {
    text-align: center;
    padding: 1rem;
    border-radius: 2px;
    border-bottom: 2px rgba(159, 159, 159, 0.599) solid;

}

.alert:hover {
    cursor: pointer;
}


.charts {
    display: flex;
    gap: 20px;
    margin-top: 30px;


}